<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header id="header"><h1>Model | View | Controller</h1></header>
        <nav>
            <ul>
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <h1>Akronym: adpl22</h1>
        <h1>Namn: Adrian Plaza</h1>
    </footer>
</html>
